.modal-container {
  z-index: 2147483647;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stripe-identity-verification-iframe {
  border-radius: 4px;
  overflow: hidden;
  width: 80vw;
  max-width: 480px;
  height: 76vh;
  min-height: 38vh;
  background-color: white;
  box-shadow: 0 0.1rem 1rem rgba(1, 0, 20, 0.3);
  color: #010014;
  animation: zoomIn 0.3s;
}

@media (max-width: 480px) {
  .stripe-identity-verification-iframe {
    width: 100%;
  }
}

.modal-backdrop {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 0, 20, 0.5);
  animation: fadeIn 0.2s;
}

.modal-backdrop.closing {
  animation: fadeOut 0.3s;
}

.stripe-identity-verification-iframe.closing {
  animation: fadeOut 0.3s, zoomOut 0.3s;
}

.iframe-header {
  display: flex;
  justify-content: space-between;
  padding: 0.62rem 12px;
  font-size: 1.2rem;
  font-weight: 500;
}

.stripe-identity-verification-iframe iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.iframe-close {
  cursor: pointer;
}

.iframe-close:hover {
  opacity: 0.7;
}
