/* Variables */
:root {
  --gray-border: rgba(0, 0, 0, 0.15);
  --gray-dark:   rgba(0, 0, 0, 0.9);
  --gray-light:  rgba(0, 0, 0, 0.4);
  --gray-mid:    rgba(0, 0, 0, 0.7);
  --gray-offset: rgba(0, 0, 0, 0.03);
  --cyan-4:      #3297d3;
  --green-4:     #24b47e;
  --yellow-4:    #e39f48;
  --red-4:       #e25950;
}

:root {
  --accent-color: #0066f0;
  --form-width: 620px;
  --headline-color: var(--gray-dark);
  --background-color: #010014;
  --background-light: #f6f9fc;
  --body-color: #ffffff;
  --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --body-width: 800px;
  --logo-image: url("https://storage.googleapis.com/stripe-sample-images/KAVHOLM.svg");
  --radius: 6px;
}

/* Rocket Rides styles – Brand-overrides, can split these out */
:root {
  --accent-color: #15B67C;
  --headline-color: var(--accent-color);
  --logo-image: url("../media/rocketrides-green.svg");
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  padding: 0 1em;
  background-color: var(--background-color);
  background-image: url("../media/swirly-background.jpg");
  background-size: cover;
  background-position: center;
  font-family: var(--body-font-family);
  font-size: 16px;
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(256, 256, 256, 0), var(--background-color) 62%);
}

nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 2vh 0;
}

@media (max-width: 720px) {
  nav {
    padding: 10px 22px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-color);
  margin-top: 0.38rem;
  margin-bottom: 0.62rem;
}
h1 {
  font-size: 27px;
}
h4 {
  font-weight: 500;
  font-size: 1.1em;
  color: #ffffff;
}

.title {
  font-size: 3.8em;
}

.status-header {
  display: flex;
  align-items: center;
  margin-top: 0.62em;
  font-size: 1.62em;
}

.status-text {
  text-transform: capitalize;
}

.status-text.processing {
  color: var(--cyan-4);
}

.status-text.succeeded {
  color: var(--green-4);
}

.status-text.requires_action {
  color: var(--yellow-4);
}

.status-text.canceled,
.status-text.error {
  color: var(--red-4);
}

.status-icon {
  margin-right: 0.38em;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Nav */
.nav-content {
  max-width: var(--body-width);
  margin: 0 auto;
}

.nav-logo {
  background-image: url(../media/rocket-rides.svg);
}

/* Layout */
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--body-width);
  align-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}
.sr-header {
  margin-bottom: 32px;
}
.sr-verification-summary {
  margin-bottom: 20px;
}
.sr-main,
.sr-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center;
}
.sr-main {
  width: var(--body-width);
}
.sr-content {
  padding-left: 48px;
}
.sr-header__logo {
  background-image: var(--logo-image);
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.sr-legal-text {
  color: var(--gray-light);
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
.sr-field-error {
  color: var(--accent-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Annotation */
.annotation {
  position: fixed;
  bottom: 3.8vh;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 0;
  max-width: var(--body-width);
  width: 100%;
  padding: 10px 22px;
  background-color: var(--background-light);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

@media (max-width: 720px) {
  .annotation {
    bottom: 0;
    left: 0;
    transform: none;
    flex-flow: row wrap;
    border-radius: 0;
  }
}

.annotation p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: #6a7c94;
}

@media (max-width: 720px) {
  .annotation p {
    order: 1;
    margin: 10px 0 0;
  }
}

.annotation a {
  font-weight: 400;
  color: #666ee8;
}

.annotation a.github {
  background-image: url(../media/arrow-purple.svg);
}

.annotation a.stripe {
  flex: 0 0 53px;
  margin-right: 10px;
  background: url(../media/stripe.svg) center center no-repeat;
  text-indent: -9999px;
}

/* Form */
.sr-form-row {
  margin: 16px 0;
}
label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

/* Inputs */
.sr-input,
.sr-select,
input[type="text"] {
  border: 1px solid var(--gray-border);
  border-radius: var(--radius);
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  transition: box-shadow 0.2s ease;
  background: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.sr-input:focus,
input[type="text"]:focus,
button:focus,
.focused {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
  z-index: 9;
}
.sr-input::placeholder,
input[type="text"]::placeholder {
  color: var(--gray-light);
}

/* Checkbox */
.sr-checkbox-label {
  position: relative;
  cursor: pointer;
}

.sr-checkbox-label input {
  opacity: 0;
  margin-right: 6px;
}

.sr-checkbox-label .sr-checkbox-check {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border: 1px solid var(--gray-border);
  border-radius: 4px;
  transition: all 0.2s ease;
}

.sr-checkbox-label input:focus ~ .sr-checkbox-check {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}

.sr-checkbox-label input:checked ~ .sr-checkbox-check {
  background-color: var(--accent-color);
  background-image: url("https://storage.googleapis.com/stripe-sample-images/icon-checkmark.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: -1px -1px;
}

/* Select */
.sr-select {
  display: block;
  height: 44px;
  margin: 0;
  background-image: url("https://storage.googleapis.com/stripe-sample-images/icon-chevron-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 12px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.sr-select:after {
}
.sr-select::-ms-expand {
  display: none;
}
.sr-select:hover {
  cursor: pointer;
}
.sr-select:focus {
  box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07), 0 0 0 4px rgba(50, 151, 211, 0.3);
  outline: none;
}
.sr-select option {
  font-weight: 400;
}
.sr-select:invalid {
  color: var(--gray-light);
  background-opacity: 0.4;
}

/* Combo inputs */
.sr-combo-inputs {
  display: flex;
  flex-direction: column;
}
.sr-combo-inputs input,
.sr-combo-inputs .sr-select {
  border-radius: 0;
  border-bottom: 0;
}
.sr-combo-inputs > input:first-child,
.sr-combo-inputs > .sr-select:first-child {
  border-radius: var(--radius) var(--radius) 0 0;
}
.sr-combo-inputs > input:last-child,
.sr-combo-inputs > .sr-select:last-child {
  border-radius: 0 0 var(--radius) var(--radius);
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:last-child input:first-child {
  border-radius: 0 0 0 var(--radius);
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:last-child input:last-child {
  border-radius: 0 0 var(--radius) 0;
  border-bottom: 1px solid var(--gray-border);
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:first-child {
  border-radius: var(--radius) 0 0 0;
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:last-child {
  border-radius: 0 var(--radius) 0 0;
}
.sr-combo-inputs > .sr-combo-inputs-row:first-child input:only-child {
  border-radius: var(--radius) var(--radius) 0 0;
}
.sr-combo-inputs-row {
  width: 100%;
  display: flex;
}

.sr-combo-inputs-row > input {
  width: 100%;
  border-radius: 0;
}

.sr-combo-inputs-row > input:first-child:not(:only-child) {
  border-right: 0;
}

.sr-combo-inputs-row:not(:first-of-type) .sr-input {
  border-radius: 0 0 var(--radius) var(--radius);
}

/* Buttons and links */
button {
  display: block;
  margin-top: 16px;
  border: 0;
  border-radius: var(--radius);
  padding: 12px 16px;
  width: 38%;
  background: var(--accent-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

button.clear-button {
  border: 1px solid var(--accent-color);
  background: transparent;
  color: var(--accent-color);
}

.sr-verification-form button,
.fullwidth {
  width: 100%;
}

.button-container {
  display: flex;
}
.button-container button {
  margin-right: 10px;
  width: auto;
  min-width: 16vh;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  filter: brightness(0.8);
  text-decoration: underline;
}

a:active {
  filter: brightness(0.5);
}

a.arrow {
  padding-right: 20px;
  background-image: url(../media/arrow-white.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

/* Code block */
code,
pre {
  font-family: "SF Mono", "IBM Plex Mono", "Menlo", monospace;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.sr-callout {
  background: var(--gray-offset);
  padding: 12px;
  border-radius: var(--radius);
  overflow: auto;
}

.response-json {
  position: relative;
  margin-top: 0;
  max-height: 38vh;
  font-size: 1.18em;
}


/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}

/* Responsiveness */
@media (max-width: 720px) {
  .sr-root {
    flex-direction: column;
    padding: 48px 20px;
    min-width: 320px;
  }

  .sr-header__logo {
    background-position: center;
  }

  .sr-verification-summary {
    text-align: center;
  }

  .sr-content {
    display: none;
  }

  .sr-main {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

/* todo: spinner/processing state, errors, animations */

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: var(--accent-color);
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: var(--accent-color);
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Animated form */

.sr-root {
  animation: 0.4s fade-in;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.sr-verification-form .sr-form-row {
  animation: 0.4s field-in;
  animation-fill-mode: both;
  animation-timing-function: ease;
  transform-origin: 50% 0%;
}

.hide {
  animation: 0.4s fade-out;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.unhide {
  animation: 0.4s fade-in;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.hidden {
  display: none;
  height: 0;
  transition: height 0.38s ease-in-out;
}

@keyframes field-in {
  0% {
    opacity: 0;
    transform: translateY(8px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes expand-in {
  0% {
    opacity: 0;
    transform: scale(0.98, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.98, 0);
  }
}

/* Progress */

.progress-bar {
  margin-bottom: 1.8em;
  border: 1px solid rgba(21,182,124, 0.18);
  border-radius: 4px;
  width: 100%;
}

.progress {
  width: 5%;
  height: 1em;
  border-radius: 4px;
  background:
    linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%
    )
    left/30px 30px repeat-x,
    linear-gradient(to right, #0c6d4a, var(--accent-color) 62%) left/var(--p, 100%) fixed,
    var(--background-color);
  animation: progress-change 1s linear infinite;
  transition: width 0.68s ease-in-out;
}

@keyframes progress-change {
  from {
    background-position: 0 0, left
  }
  to {
    background-position: 30px 0, left
  }
}
